:root{
    --naranjo-primario: #FE7E1E;
    --font-family: "DM Sans", sans-serif; 
}

body{
    width: 100%;
}

.main-container{
    width: 100%;
    padding: 2% 5%;
    overflow: auto;
    background-color: #F7F7F7;
}

.logo{
    height: 50px;
}

h1{
    font-family: var(--font-family);
    font-size: 48px;
}

p{
    font-family: var(--font-family);
    font-size: 16px;
}

.main-cta{
    margin: auto;
    max-height: 48px;
    width: fit-content;
    border-radius: 100%;
    color: var(--naranjo-primario) ;
}