.body-wrapper{
    width: 100%;
    overflow: auto;
    background-color: #F7F7F7;
}

.main-container{
    width: 100%;
    margin: 5%, 10%;
}

.logo{
    height: 50px;
}

h1{
    font-family: "DM Sans", sans-serif;
    font-size: 48px;
}