:root{
    --naranjo: #FE7E1E;
    --naranjo-9: #331906;
    --azul: #228FFC;
    --mostaza: #FEBE1E;
    --morado: #5922FC;
    --tipografia: "DM Sans", sans-serif; 
    --text-color: #303030;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2% 5%;
}

.main-container{
    width: 100%;
}

.logo{
    height: 50px;
}

.loopie{
    height: 30vh;
    margin: auto;
    padding:48px;
}

h1{
    font-family: var(--tipografia);
    font-size: 32px;
    color: var(--text-color);
}

p{
    font-family: var(--tipografia);
    font-size: 16px;
    color: var(--text-color);
}

.main-cta{
    margin: auto;
    margin-top: 48px;
    padding: 8px 16px;
    height: 40px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    background-color: var(--naranjo);
    color: var(--naranjo-9);
    cursor: pointer;
    font-size: 16px;
}